<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style> @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Pacifico&display=swap');</style>
</head>

<body class="font-['Google Sans']">
    <nav class="w-full fixed flex justify-between items-center top-0 left-0 px-5 py-3 border-white/20 bg-white/10 shadow-md backdrop-blur-md backdrop-filter">
        <h3 class="font-['Pacifico'] text-2xl">Baggy</h3>
        <div class="px-3 py-1 flex gap-5">
            <a href="/owners/admin">Add Product</a>
            <a href="/owners/admin/products">Manage Products</a>
            <a href="/owners/admin/profile">My Account</a>
            <a class="text-red-600" href="/owners/logout">Logout</a>
        </div>
    </nav>